  <title>Create Character</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <h1>Create a New Character</h1>

  <form action="/character/create" method="POST">
    <label for="characterName">Character Name:</label>
    <input type="text" id="characterName" name="characterName" required>

    <label for="characterGender">Gender:</label>
    <select id="characterGender" name="characterGender">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>

    <!-- Add a hidden input field for user ID -->
    <input type="hidden" name="userId" value="{{userId}}">

    <button type="submit">Create</button>
  </form>

  <!-- gameplay.handlebars -->

<!DOCTYPE html>
<html>

<head>
  <title>Scene</title>
  <link rel="stylesheet" href="/css/gameplay.css">
  <script src="/js/gameplay.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4 bg-success">
              {{ this.text }}
            </button>
          </li>
{{/each}}
        </ul>
      </div>
    </div>
    {{else if sceneData.id === 2}}
    <div class="row">
      <div class="col-md-12 mt-3">
        <h3>Choose Your Character:</h3>
        <ul class="list-unstyled">
          {{#each characterData.classes}}
          <li>
            <div>
              <h4>{{ this.name }}</h4>
              <p>{{ this.description }}</p>
              <input type="radio" name="character" id="{{ this.name }}">
              <label for="{{ this.name }}">Select</label>
            </div>
          </li>
          {{/each}}
        </ul>
        <button class="btn btn-primary character-select" type="choose">
          Continue
        </button>
      </div>
    </div>
    {{else if sceneData.id === 2}}
    <div class="row">
      <div class="col-md-12 mt-3">
        <h3>Choose Your Character:</h3>
        <ul class="list-unstyled">
          {{#each characterData.classes}}
          <li>
            <div>
              <h4>{{ this.name }}</h4>
              <p>{{ this.description }}</p>
              <input type="radio" name="character" id="{{ this.name }}">
              <label for="{{ this.name }}">Select</label>
            </div>
          </li>
          {{/each}}
        </ul>
        <button class="btn btn-primary character-select" type="choose">
          Continue
        </button>
      </div>
    </div>
    {{/if}}