<style>
  .container-fluid {
    height: 100vh;
  }

  .image-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text-conversation {
    text-align: center;
  }

  .btn:hover {
    background-color: rgb(235, 55, 42);
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 custom-bg-teal d-flex align-items-center justify-content-center">
      <div class="text-conversation">
        <p class="text-warning fw-bold fs-4">{{ sceneData.text }}</p>
      </div>
    </div>
    <div class="col-md-8">
      <div class="image-container">
        <img src="{{ sceneData.image }}" alt="Scene Image" class="img-fluid">
      </div>
    </div>
  </div>

  {{#if choiceData.length}}
  <div class="row mt-3">
    <div class="col-md-12 d-flex justify-content-center">
      <ul>
        {{#each choiceData}}
        {{#if this.story_ending}}
        <a href="#" onclick="location.replace('/profile')" class="btn btn-warning txt-dark fs-6 fw-bold"
          data-triggered-scene="{{ this.triggered_scene_id }}" data-id="{{ this.id }}"
          data-story-ending="{{ this.story_ending }}" type="choose">
          {{ this.text }}
        </a>
        {{else}}
        <button id="choose-path" class = "btn btn-warning txt-dark fs-6 fw-bold" data-id="{{ this.id }}" data-story-ending="{{ this.story_ending }}"
          data-trigger="{{this.triggered_scene_id}}" type="choose">{{ this.text }}
        </button>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  {{/if}}
</div>