  <div class="container">
    <div class="row">
      <div class="col-md-4 bg-success">
        <div class="text-conversation">
          <p>{{ sceneData.text }}</p>
        </div>
      </div>
      <div class="col-md-8">
        <img src="{{ sceneData.image }}" alt="Scene Image" class="img-fluid">
      </div>
    </div>

    {{#if sceneData.Choice}}
    <div class="row">
      <div class="col-md-12 mt-3">
        <h3>Choose Your Path:</h3>
        <ul class="list-unstyled">
          {{#each sceneData.Choice}}
          <li>
            <button class="btn btn-primary choice-option" data-triggered-scene="{{ this.triggered_scene_id }}"
              data-id="{{ this.id }}" data-story-ending="{{ this.story_ending }}" type="choose">
              {{ this.text }}
            </button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
    {{/if}}

  </div>